<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>September Health Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="main-section">
        <div class="main-heading">
            <h1>September Health Tracker System</h1>
        </div>
    <!-- Form Container -->
    <div class="container">
        <h2>What is your current health condition/issue/problem?</h2>
        <form id="health-form">
            <input type="text" id="entry" placeholder="Enter your health data" required>
            <button type="submit">Submit</button>
        </form>
        <div id="entries"></div>
    </div>
    <script src="/js/index.js"></script>
    </section>
</body>
</html>